<section class="py-2 bg-[#f4f4f4]">
    <div class="max-w-7xl mx-auto px-8">

        <div class="flex items-center gap-6 mb-20">
            <h2 class="text-2xl md:text-3xl font-extrabold tracking-wide">
                OTHER PRODUCTS
            </h2>
            <div class="flex-1 h-2 bg-yellow-400"></div>
        </div>

        <div class="space-y-20">

            {% for section in other_product_sections %}
            {% include "components/product_grid.html" %}
            {% endfor %}

        </div>

    </div>
</section>